h1, h2, h3, p {
    font-family:sans-serif;
    font-style: normal;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100% !important;
    display: flex;
}

.rawrz {
    text-align: right;
}

.pee {
    color: white;
    font-family: Roboto, sans-serif;
    font-style:normal;
}

.spaz {
    text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 320px) {

    
    .records {
        max-width: 100%;
        font-size: 50px !important;
    }
    
    .subz, .h1 {
        font-size: 32px !important;
    }
    
    #footer {
        display: flex;
        align-items: center !important;
        text-align: center !important;
    }
    
    .fck {
        font-size: 18px !important;
        max-width: 100%;
        text-align: center;
    }
    
    .fuck {
        display: inline-block;
    }
    
    .me {
        -ms-transform: rotate(9deg) !important; /* IE 9 */
        -webkit-transform: rotate(9deg) !important; /* Chrome, Safari, Opera */
        transform: rotate(9deg) !important;
        align-items: center !important;
        display: inline-block;
        text-align: center !important;

    }
    

    
    

}


@media screen and (min-width: 321px) and (max-width: 600px) {

    
    .records {
        max-width: 100%;
        font-size: 50px !important;
    }
    
    .subz, .h1 {
        font-size: 32px !important;
    }
    
    #footer {
        display: flex;
        align-items: center !important;
        text-align: center !important;
    }
    
    .fck {
        font-size: 22px !important;
        max-width: 100%;
        text-align: center;
    }
    
    .me {
        -ms-transform: rotate(9deg) !important; /* IE 9 */
        -webkit-transform: rotate(9deg) !important; /* Chrome, Safari, Opera */
        transform: rotate(9deg) !important;
        align-items: center !important;
        display: inline-block;
        text-align: center !important;

    }
    

    
    
    

}

@media screen and (min-width: 600px) and (max-width: 770px) {

    
    .records, .social-network {
        max-width: 100%;
        font-size: 60px !important;
    }
    
    .subz {
        font-size: 36px;
    }
    
    .fck {
        font-size: 24px !important;
        max-width: 100%;
        -ms-transform: rotate(50deg) !important; /* IE 9 */
        -webkit-transform: rotate(50deg) !important; /* Chrome, Safari, Opera */
        transform: rotate(50deg) !important;
    }
    
    .rawrz {
        display: flex;
        text-align: center !important; 
    }
    
    

}

/* Modal please */


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoSoundcloud:hover {
	background-color:#ff7700;
}

.social-network a.icoSpotify:hover {
	background-color:#6ae368;
}

.social-network a.icoYoutube:hover {
	background-color:#c4302b;
}

.social-network a.icoEnvelope:hover {
	background-color:#FFFFFF;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}

.social-network a.icoEnvelope:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.max {
    max-width: 100%;
}

body {
  font: 14px/1.4 arial;
}

.merkle {
    text-align: left;
}

.center {
    display: block;
    margin: 0 auto;
}

.blaz {
    text-align: center;
    padding-top: 40px;
}

.slaz {
    text-align: center;
}

.imgWrap {
  position: relative;
  height: 435px;
  width:400px;

}

.imgDescription {
  position: absolute;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  vertical-align: middle;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: .90;
  font-size: 40px;
  background-color: black;
  text-align: center;
  vertical-align: middle;
}

.records {
    font-size:84px;
    font-family: Roboto, sans-serif;
    font-style:normal;
    text-align:center;
    padding-top: 40px;
}

.fuck {
    text-align:center;
    max-width:100%;
}


img, embed,
object,video {
    max-width: 100%;
}
.home {
    text-align:center;

}

.zanzibar{
    background-image:url(zanz.jpg);
}

.subz {
    font-size:46px;
    font-family:sans-serif;
    font-style:normal;
    text-align:center;
    font-weight:bolder;
}
.lake {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}

html { 
  background-size: cover;
  background: url(lake.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}


.bio {

    font-family: sans-serif;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 16px;
    text-align: center;
}

.zanz{
    background: url(zanz.jpg) center center fixed;
}

.media{
    text-align:right;
}


body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 24px;
    line-height: 1.5;
    color:black;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color:#000;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    color:#FFFFFF;
    font-style: oblique;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}



.container {
  background-size: cover;
  background: url(sky.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}
.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/lake.jpg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

