<div class="container">
  <head>
  </head>
  <div class="row">
      <h1 class="col-md-12 blaz">Artists</h1>
  </div>
    <div class="imgWrap center max">
      <img class = "img-responsive" src="http://i.imgur.com/9i9Hoe8.jpg?1">
      <a href="https://zanzibarsand.bandcamp.com/releases"><p class="imgDescription">Zanzibar Sand</p></a>
    </div>

    <div id="footer">
      {{ link-to 'HOME' 'index' class="h1" }}
    </div>
    


</div>




<!--<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Zanzibar Sand</h3>
  </div>
  <div class="panel-body">
    
    <div class="bio">
      <p>Zanzibar Sand is the solo project from xyz. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget turpis eget odio dapibus lacinia. Maecenas eget rutrum lectus.
      Maecenas pretium enim sed velit ultrices euismod. Ut et erat lobortis, sollicitudin ex quis, lobortis lorem. Curabitur porttitor feugiat ipsum vitae tristique. Vivamus semper, enim 
      </p>
    </div>
      <div class="fuck">
    <iframe src="https://embed.spotify.com/?uri=spotify:album:0hlX2iEqDu04aGffqbOwDf" width="300" height="80" frameborder="0" allowtransparency="true" align="center"></iframe>
  </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    
    <div class="bio">
      <p>Social Media Lorem Ipsum
      </p>
    </div>
  </div>
</div>-->


