<div class="fck">
<h1 class="fck">General Inquiries:</h1>

<a href="mailto:hey@castaliarecords.co?" target="_blank"><h2 class="fck">hey@castaliarecords.co</h2></a>

<h1 class="fck">Submissions:</h1>

<a href="mailto:submissions@castaliarecords.co?" target="_blank"><h2 class="fck">submissions@castaliarecords.co</h2></a>
</div>

    <div id="footer">
      {{ link-to 'HOME' 'index' class="h1" }}
    </div>

{{outlet}}
