<div class="fck">
<h1 class="fck">General Inquiries & Submissions:</h1>

<a href="mailto:alex@castaliarecords.co?"><h2 class="fck">alex@castaliarecords.co</h2></a>

</div>
    <div id="footer">
      {{ link-to 'HOME' 'index' class="h1" }}
    </div>

{{outlet}}
