<html>
    <div class="home">
        <h1 class="records">Castalia Records</h1>
        <h2 class="subz">Denver, CO</h2>
        <div class="subz btn">
        {{ link-to 'Artists' 'artists' class="h1" }}
        </div>
    </div>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    			<div class="col-md-12" id="footer">
                    <ul class="social-network social-circle footer">
                        <li><a target="_blank" href="https://soundcloud.com/castaliarecords" class="icoSoundcloud" title="Soundcloud"><i class="fa fa-soundcloud"></i></a></li>
                        <li><a target="_blank" href="#" class="icoSpotify" title="Spotify"><i class="fa fa-spotify"></i></a></li>
                        <!--<li><a target="_blank" href="https://www.youtube.com/channel/UC58Hx1LuPtx_kXYCqSrX2AQ" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>-->
                        <li><a target="_blank" href="https://twitter.com/castaliarecords" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=alex@castaliarecords.co&su=Hey Castalia Records ~&body=Love the tunes" class="icoEnvelope" title="Email"><i class="fa fa-envelope"></i></a></li>

                    </ul>				
				</div>

</html>

