<h1>404 Error: PAGE Not Found</h1>

<h2>Enjoy this track while you're here</h2>
<div class="marginz">
  <iframe src="https://embed.spotify.com/?uri=spotify:track:4WKRrClcdeO9uSXH0Pv6cZ" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
</div>
<div class="marginz">
  <img src="https://66.media.tumblr.com/cf7a17adcdf4b9ec9c64940af0bdf81f/tumblr_o56pl6CGoK1v6l4wuo1_400.gif">
</div>
    <div>
      {{ link-to '<-- GO BACK HOME' 'index' class="h1" }}
    </div>