<h1>404 Error: PAGE Not Found</h1>

<h2>Enjoy this track while you're here</h2>
<iframe src="https://embed.spotify.com/?uri=spotify:track:4WKRrClcdeO9uSXH0Pv6cZ" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>


    <div>
      {{ link-to '<-- GO BACK HOME' 'index' class="h1" }}
    </div>